//Menu styles
.menu-items {
  padding: 10px;
  background-color: #ace0b6;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  height: 41px;
}

.menu-items:nth-of-type(n+3):hover {
	background-color: #8bc34a;
	cursor: pointer; 
	cursor: hand; 
}

.menu-items > a {
  color: #ffffff;
  text-decoration: none;
}
