/*--------------------------------------------------------------------------*/
/********************************* General **********************************/
/*--------------------------------------------------------------------------*/
ul {
  padding-left: 0; }

li {
  list-style-type: none; }

/*--------------------------------------------------------------------------*/
/********************************* Bootsrtap ********************************/
/*--------------------------------------------------------------------------*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

/*--------------------------------------------------------------------------*/
/********************************* Utils ************************************/
/*--------------------------------------------------------------------------*/
.inline {
  display: inline-block; }

/*--------------------------------------------------------------------------*/
/********************************* Icons *************************************/
/*--------------------------------------------------------------------------*/
.icon-margin {
  margin-top: 60px; }

.icon-wrapper-pokemon {
  margin-top: 35px; }

/*--------------------------------------------------------------------------*/
/**************************** ALL POKEMONS **********************************/
/*--------------------------------------------------------------------------*/
.wrapper-pokemon-list {
  border-top: 1px solid grey;
  height: 180px; }

.list-pokemon-sprite {
  border: 1px solid grey;
  height: 96px;
  width: 96px;
  margin-left: 30px;
  margin-top: 55px; }

.pkmlvl {
  color: grey; }

.title-pokemon {
  margin-top: 80px;
  margin-bottom: 28px; }

.number-pokemon {
  position: relative;
  right: 103px;
  top: 41px; }

.main-header {
  color: #E91E31;
  padding-top: 2px;
  font-weight: bold; }

.sub-header {
  background-color: #CFCFCF;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 0 10px 25px; }

.Grass {
  background-color: #00ce00;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Poison {
  background-color: #b489d3;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Bug {
  background-color: #A8B820;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Normal {
  background-color: #A8A878;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Fighting {
  background-color: #C03028;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Flying {
  background-color: #A890F0;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Ground {
  background-color: #E0C068;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Rock {
  background-color: #B8A038;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Ghost {
  background-color: #705898;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Fire {
  background-color: #F08030;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Water {
  background-color: #6890F0;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Grass {
  background-color: #78C850;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Electric {
  background-color: #F8D030;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Psychic {
  background-color: #F85888;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Ice {
  background-color: #98D8D8;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Dragon {
  background-color: #7038F8;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Fairy {
  background-color: #EE99AC;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.Steel {
  background-color: #B8B8D0;
  border-radius: 7px;
  display: inline;
  padding: 4px 8px 4px 8px;
  margin-right: 7px;
  color: #ffffff; }

.menu-items {
  padding: 10px;
  background-color: #ace0b6;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  height: 41px; }

.menu-items:nth-of-type(n+3):hover {
  background-color: #8bc34a;
  cursor: pointer;
  cursor: hand; }

.menu-items > a {
  color: #ffffff;
  text-decoration: none; }

.arrow-up {
  background-image: url(../img/sort_asc.png);
  height: 40px;
  width: 40px;
  display: block;
  background-size: 40px; }

.arrow-down {
  background-image: url(../img/sort_desc.png);
  height: 40px;
  width: 40px;
  display: block;
  background-size: 40px; }
